.dialog {
  min-height: 100vh;
  min-width: 100vw;
  z-index: 900;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
}
.dialog .container,
.dialog form {
  width: 480px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: var(--auth-form-background-color);
  border-radius: 20px;
}
.dialog:not(:has(form)) {
  flex-direction: column;
}
.dialog:not(:has(form)) .container {
  gap: 13px;
  color: var(--opposite-color);
}
.dialog:not(:has(form)) .container p {
  text-align: center;
}
.dialog:not(:has(form)) .container p:nth-child(1) {
  font-size: 20px;
  margin-bottom: 2px;
  font-weight: 500;
}
.dialog:not(:has(form)) .container .buttons {
  display: flex;
  justify-content: space-between;
}
.dialog:not(:has(form)) .container .buttons button {
  background: var(--nice-blue);
  color: white;
  padding: 5px 10px;
  font-size: 18.5px;
  border-radius: 7px;
  cursor: pointer;
}
.dialog:has(form) form input {
  padding: 6.5px;
  font-size: 16px;
  width: 100%;
  color: var(--auth-form-input-font-color);
  background: none;
  border: 1.5px solid var(--auth-form-border-color);
  border-radius: 6px;
}
.dialog:has(form) form label {
  align-self: flex-start;
  width: fit-content;
  color: var(--server-rename-label-color);
  padding: 0px;
  margin-left: 2.5px;
  margin-bottom: 8px;
  font-size: 18px;
}
.dialog:has(form) form .buttons {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
.dialog:has(form) form .buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: var(--nice-blue);
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 18.5px;
  cursor: pointer;
}
