.serverDetails {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.serverDetails .usageBars {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(2, 1fr);
}
.serverDetails .usageBars .usageBar > p {
  font-weight: 500;
  font-size: 19px;
  margin-bottom: 5px;
}
.serverDetails .metrics {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 32px;
  row-gap: 4px;
}
.serverDetails .metrics .metric {
  font-size: 17px;
}
@media (width < 900px) {
  .serverDetails .usageBars,
  .serverDetails .metrics {
    grid-template-columns: 1fr;
  }
}
@media (width < 400px) {
  .serverDetails .usageBars p {
    font-size: 17px !important;
  }
  .serverDetails .metrics .metric {
    font-size: 15px;
  }
}
