.page {
  padding: 50px;
  width: 75vw;
}
.page h1 {
  font-size: 45px;
  font-weight: 500;
}
.page h1 span span {
  color: var(--accent-color-2);
}
.page p {
  font-size: 18.25px;
}
.page a {
  width: fit-content;
  margin-top: 35px;
  font-size: 35px !important;
}
.page a img {
  margin-right: 10px !important;
}
