@mixin server-credentials {
  .serverCredentials {
    display: grid;
    justify-content: space-between;
    grid-auto-flow: column;
    border: 1px var(--server-credentials-border) solid;
    padding: 15px 25px;
    border-radius: 8px;
    margin-top: 50px;
    margin-bottom: 35px;

    .credential {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 2.5px;
      p {
        display: flex;
        align-items: center;
        gap: 5px;
        &:nth-child(1) {
          font-size: 15px;
        }

        &:nth-child(2) {
          font-size: 17px;
          font-weight: 500;
          position: relative;
        }

        &:nth-child(2):hover svg {
          visibility: visible;
        }

        span {
          --right-offset: -22px;
          content: "Copy";
          background: var(--nice-blue);
          color: white;
          font-size: 15.75px;
          padding: 6px;
          border-radius: 4.5px;
          position: absolute;
          right: var(--right-offset);
          top: -25px;
          transition: transform 200ms, top 200ms;
          transform: scale(0);
        }

        svg {
          &:hover + span {
            transform: scale(1);
            top: -45px;
          }

          visibility: hidden;
          position: relative;
          height: 15.75px;
          width: 15.75px;
        }
      }
    }

    @media (width < 700px) {
      grid-template-rows: 1fr 1fr;
    }

    @media (width < 600px) {
      grid-auto-flow: row;
    }
  }
}
